.nav {
  margin: 0 auto;

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px clamp(1.5rem, 0.5rem + 5vw, 5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    flex-wrap: wrap;

    .burger {
      display: none;
      width: 24px;

      @media (max-width: 990px) {
        display: block;
      }
    }

    .logo {
      margin: 0 auto;
      width: clamp(4rem, 3.893rem + 0.54vw, 4.375rem);
    }

    .links {
      max-width: 663px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      gap: clamp(1.25rem, 0.536rem + 3.57vw, 3.75rem);
      align-items: center;

      @media (max-width: 990px) {
        display: none;
      }

      .link {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
        letter-spacing: 0.03em;
        text-align: justify;
        color: var(--foundation--white-darker);
        transition: 0.5s;

        &:hover {
          color: var(--foundation--orange-normal);
        }
      }
    }

    .btn {
      border-radius: 8px;
      padding: clamp(0.5rem, 0.429rem + 0.36vw, 0.75rem)
        clamp(1rem, 0.571rem + 2.14vw, 2.5rem);
      background: linear-gradient(129deg, #fd6f00 0%, #e46400 100%);
      font-family: var(--font-family);
      font-weight: 700;
      font-size: clamp(0.875rem, 0.839rem + 0.18vw, 1rem);
      letter-spacing: 0.03em;
      text-align: justify;
      color: #fff;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}
